<!-- <h1>Your Matches</h1>
<div *ngIf="matchedUsers.length > 0; else noMatches">
  <div *ngFor="let user of matchedUsers" (click)="showChat(user)">
    <div class="matched-user">
      <img [src]="user.photoUrl" alt="User Photo">
      <h2>{{ user.name }}</h2>
      <p>{{ user.bio }}</p>
    </div>
  </div>
</div>

<ng-template #noMatches>
  <p>You haven't matched with anyone yet.</p>
</ng-template>

<div *ngIf="activeUser">
  <!-- <app-chat [matchedUser]="activeUser"></app-chat> -->
  <button (click)="hideChat()">Hide Chat</button>
</div> -->