<div class="container">
    
      <div class="formLeft">
        <!-- Image on the left -->
        <img src="assets\images\adventureguy.png" height="33rem" />
      </div>
      <div class="formRight">
        <!-- Form on the right -->
        
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          
          <div class="form">
            
            <h2 style="color:blue">Login</h2>
            
            <div>
              <input type="text" id="email" name="email" class="form-control" [(ngModel)]="credentials.email" formControlName="email" placeholder="Email" required/>
              <div *ngIf="emailError === false && loginForm.get('email')?.hasError('pattern')" class="error-message">Please enter a valid email.</div>
              <div *ngIf="emailError" class="error-message">Email is required.</div>
              
            </div>
            
            <div>
              <input type="password" id="password" name="password" class="form-control" [(ngModel)]="credentials.password" formControlName="password" placeholder="Password" required/>
              <div *ngIf="passwordError" class="error-message">Password is required.</div>
            </div>
            
            <div>
              <button type="submit" class="btn btn-primary">Login</button>
            </div>

          </div>
        </form>
      </div>

  </div>