.recommendationHeader {
  text-align: center;
  background-color: #93d074;
  color: #fff;
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; 
}

.recommendationHeader h1 {
  font-size: 24px;
  margin: 0;
}

.recommendationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px; 
}

.leftSection {
  flex: 1;
  margin-right: 20px;
}

.restaurantImage {
  max-width: 100%;
  height: auto;
}

.rightSection {
  flex: 2;
}

.restaurantName {
  font-size: 24px;
  margin-bottom: 10px;
}

.actionBtns {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

.sureButton {
  background-color: #4caf50;
  color: #fff;
}

.noBtn {
  background-color: #ff5722;
  color: #fff;
}
