<div class="chat-container">
  <div class="user-list-container">
    <app-chat-user-list [dinerUsers]="dinerUsers" (userSelected)="openChatWithUser($event)"></app-chat-user-list>
  </div>
  <div class="chat-window" *ngIf="selectedUser">
    <div class="chat-header">
      Chat with {{ selectedUser.name }}
    </div>
    <div class="chat-messages">
      <div class="message" *ngFor="let message of messages">
        <div class="message-sender">{{ message.sender }}</div>
        <div class="message-text">{{ message.text }}</div>
      </div>
    </div>
    <div class="chat-input">
      <input type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Type your message..." />
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>