<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <!-- Include any CSS stylesheets or frameworks you need for styling -->
</head>
<body>
    <header>
        <!-- Add a navigation header or user menu here if needed -->
    </header>

    <main>
        <div class="container">
            <form name="profileForm" role="form" #profileForm="ngForm">
                <div class="row" style="display: flex; flex-direction: row; ">
                    <!-- <div class="row" style="display: flex; flex-direction: row; height: 100%;"> -->
                    
                    <div class="profile col-lg-6">
                        <div class="row edit">
                            <div class="col text-right edit-button">
                                <button (click)="editMode = true" *ngIf="!editMode">Edit</button>
                                <!-- Done button -->
                                <button (click)="editMode = false" *ngIf="editMode">Done</button>
                                <!-- <button *ngIf="editMode" (click)="saveChanges()">Done</button> -->
                            </div>                    
                        </div>    
                        <div class="row profile-picture">
                                <!-- User's profile picture -->
                                <div class="col text-center">
                                    <img *ngIf="!editMode" src="\assets\images\ppg.jpg" alt="User Profile Picture">
                                    <!-- Add file upload input for changing profile picture when in edit mode -->
                                    <input *ngIf="editMode" type="file" (change)="onProfilePictureChange($event)">
                                </div>
                                <!-- <img src="\assets\images\ppg.jpg" alt="User Profile Picture"> -->
                        </div>
                        <div class="row profile-info">
                             <!-- trial -->
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="label">
                                        <label style="margin-top:10px">
                                            Name
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-m6">
                                    <div class="label-input">
                                        <input class="form-control ng-untouched ng-pristine ng-valid" id="profileName" type="text" [(ngModel)]="user.name" name="name" [disabled]="!editMode">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="label">
                                        <label style="margin-top:10px">
                                            Age
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-m6">
                                    <div class="label-input">
                                        <input class="form-control ng-untouched ng-pristine ng-valid" id="profileAge" type="text" [(ngModel)]="profileAge" name="age" [disabled]="!editMode">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="label">
                                        <label style="margin-top:10px">
                                            Gender
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-m6">
                                    <div class="label-input">
                                        <input class="form-control ng-untouched ng-pristine ng-valid" id="profileGender" type="text" [(ngModel)]="profileGender" name="gender" [disabled]="!editMode">
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row empty">
                            <div class="col">
                                <!-- Empty row for spacing -->
                            </div>
                        </div>
                        
                    </div>
                    <div class="feed col-lg-6">
                        <app-image-grid></app-image-grid> <!-- Example: Display 4 columns -->


                            
                        
                    </div>
                </div>
            </form>
            
        </div>
        
        
        

       
    </main>

    <footer>
        <!-- Add a footer with additional information or links if needed -->
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
