/* .registerBtn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.registerBtn[disabled] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ccc; 
  cursor: not-allowed;
  color: #888; 
  pointer-events: none; 
  margin-top: 10px;
}

.registerErrorMsg {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}

.registerForm {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  position: fixed; 
  top: 2%; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; 
}

.registerFormGroup {
  margin-bottom: 15px;
}

.registerFormGroup input[type="text"],
.registerFormGroup input[type="date"],
.registerFormGroup input[type="email"],
.registerFormGroup input[type="password"] {
  width: 90%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
} */


/* esther */

/* Styles for the register form container */
.registerForm {
  width: 20%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: rgba(239, 239, 239, 0.7);
}

.registerForm h2 {
  color: blue;
  text-align: center;
  margin-bottom: 20px;
}

.registerFormGroup {
  margin-bottom: 20px;
}

/* Remove the line below to display "Restaurant Owner" on the same line as "Diner" */
.registerFormGroup label {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust the gap between radio buttons and labels */
}

.registerFormGroup .radio-buttons {
  display: flex; /* Display the radio buttons in a row */
  gap: 10px; /* Adjust the gap between radio buttons */
  align-items: center; /* Vertically align the radio buttons */
}

.registerFormGroup .radio-buttons label {
  display: flex; /* Display the label and radio button content in a row */
  align-items: center; /* Vertically align the label and radio button content */
}

.registerFormGroup .radio-buttons label {
  display: flex;
  align-items: center;
}

.registerFormGroup input {
  padding: 10px;
  border: 0;
  background-color: rgba(239, 239, 239, 0.7);
  width: 100%;
}

.registerErrorMsg {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.registerBtn {
  cursor: pointer;
  border: 0;
  width: 100px;
  padding: 5px 0;
  color: white;
  background-color: red;
  transition: 0.4s;
}

.registerBtn:hover {
  color: white;
  background-color: rgba(0, 0, 255, 0.5);
}

.loginBtn {
  cursor: pointer;
  border: 0;
  width: 100px;
  padding: 5px 0;
  color: white;
  background-color: gray;
  transition: 0.4s;
  margin-left: 10px;
}

.loginBtn:hover {
  color: white;
  background-color: rgba(128, 128, 128, 0.5);
}
