/* Add your styles for the card component here */
.user-match-card {
    max-width: 600px;
    margin: 0 auto;
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 5px;
    top: 40%;
    left: 35%;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    display: flex; /* Use flexbox for the layout */
    justify-content: space-between; /* Space the columns evenly */
  }


.left-column,
.right-column {
  flex-basis: 48%; /* Adjust the width of the columns as needed */
}

.user-match-card img {
  width: 100%;
  max-height: 200px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.user-match-card h2 {
  font-size: 18px;
  margin-bottom: 5px;
}



.user-match-card p {
  font-size: 14px;
  margin-bottom: 10px;
}

.user-match-card .like-button {
  display: block;
  width: 100%;
  padding: 8px 0;
  margin-top: 10px;
  border: none;
  background-color: #ff585d;
  color: #140d0d;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.user-match-card .dislike-button {
  display: block;
  width: 100%;
  padding: 8px 0;
  margin-top: 10px;
  border: none;
  background-color: #bbb;
  color: #0e0909;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.user-match-card .like-button:hover{
  background-color: #ff474c;
}
.user-match-card .dislike-button:hover{
  background-color: #8d8d8d;
}

.user-match-card.swipedLeft {    
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.user-match-card.swipedRight {
  transform: translateX(100%);
}

.user-match-card.notSwiped {
  transform: translateX(0);
}