/* Add your styles for the card component here */
.card {
    max-width: 300px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .card img {
    width: 100%;
    max-height: 200px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .card h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .card p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .card button {
    display: block;
    width: 100%;
    padding: 8px 0;
    margin-top: 10px;
    border: none;
    background-color: #ff585d;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .card button:hover {
    background-color: #ff474c;
  }
  
  .card button:last-child {
    background-color: #ccc;
    color: #333;
  }
  
  .card button:last-child:hover {
    background-color: #bbb;
  }

  /* Apply styles for swiped state */
  .card.swipedLeft {
    transform: translateX(-100%); /* Move the card to the left when swiped left */
  }

  /* Apply styles for swiped right state */
  .card.swipedRight {
    transform: translateX(100%); /* Move the card to the right when swiped right */
  }

  /* Apply styles for not swiped state */
  .card.notSwiped {
    transform: translateX(0); /* Return the card to its initial position */
  }