/* Add your styles for the card component here */
.restaurant-user-match-card {
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 5px;
    top: 25%;
    left: 25%;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    display: flex; /* Use flexbox for the layout */
    justify-content: space-between; /* Space the columns evenly */
  }

.container {
  width: 600px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 20px; /* Adjust the border radius as needed to create the desired curve */
  overflow: hidden; /* Ensure the rounded corners are visible */
}

.left-column,
.right-column {
  padding: 20px; /* Add padding to create some space between the columns and the curved border */
  flex-basis: 48%; /* Adjust the width of the columns as needed */
}

.left-inner-column,
.right-inner-column,
.middle-inner-column {
  flex-basis: 30%; /* Adjust the width of the columns as needed */
}

.inner-column {
  display: flex;
}

.restaurant-user-match-card img {
  width: 600px;
  height: 300px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.restaurant-user-match-card h2 {
  font-size: 18px;
  margin-bottom: 5px;
}



.restaurant-user-match-card p {
  font-size: 14px;
  margin-bottom: 10px;
}

.restaurant-user-match-card .like-button {
  display: block;
  width: 100%;
  padding: 8px 0;
  margin-top: 10px;
  border: none;
  background-color: #ff585d;
  color: #140d0d;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.restaurant-user-match-card .dislike-button {
  display: block;
  width: 100%;
  padding: 8px 0;
  margin-top: 10px;
  border: none;
  background-color: #bbb;
  color: #0e0909;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.restaurant-user-match-card .like-button:hover{
  background-color: #ff474c;
}
.restaurant-user-match-card .dislike-button:hover{
  background-color: #8d8d8d;
}

.restaurant-user-match-card.swipedLeft {    
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.restaurant-user-match-card.swipedRight {
  transform: translateX(100%);
}

.restaurant-user-match-card.notSwiped {
  transform: translateX(0);
}